<a
  class="nav-link"
  data-toggle="dropdown"
  (click)="itemClick()"
  [routerLink]="null"
>
  <i class="fas fa-user"></i>
</a>
<div
  class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-padding-right"
  [class.show]="isActive"
>
<span class="dropdown-item dropdown-header">
    Assigned Roles
  </span>
  <div
    *ngFor="
      let role of roles;
      let last = last
    "
  >
    <div class="dropdown-divider" *ngIf="!last"></div>
    <a class="dropdown-item text-truncate" (click)="changeRole(role)">
      <i class="fas fa-user mr-2"></i>
      {{ role.ROLE_NAME }}
    </a>
  </div>
  <!-- <div class="dropdown-divider"></div> -->
</div>