<div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img
        class="img-circle elevation-2"
        style="width: 90px; height: 90px; cursor: pointer"
        alt="User Image"
        [src]="userDetail?.emp_image"
        alt="User profile picture"
        rounded
      />
    </div>
    <span
      class="dot"
      [ngClass]="{
        'status-left':
          userDetail?.emp_leftdate !== null && userDetail?.emp_leftdate !== '',
        'status-active': userDetail?.emp_status === true,
        'status-probation': userDetail?.emp_status === false
      }"
      [title]="
        userDetail?.emp_leftdate !== null && userDetail?.emp_leftdate !== ''
          ? 'Left'
          : userDetail?.emp_status === true
          ? 'Confirmed'
          : userDetail?.emp_status === false
          ? 'Probation'
          : ''
      "
    ></span>

    <h3 class="profile-username text-center">
      {{ userDetail?.emp_name }}
    </h3>

    <p class="text-muted text-center" title="Designation">
      {{ userDetail?.emp_designation }}
    </p>
    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item flex-container">
        <b class="flex-item">Employee ID</b>
        <span class="flex-item float-right">
          {{
            userDetail?.emp_altid +
              (userDetail?.emp_subcode !== ""
                ? "(" + userDetail?.emp_subcode + ")"
                : "")
          }}
        </span>
      </li>
      <li class="list-group-item flex-container">
        <b class="flex-item">Gender</b>
        <span class="flex-item float-right">
          <i
            [ngClass]="
              userDetail?.emp_gender === 'M' ? 'fas fa-male' : 'fas fa-female'
            "
          ></i>
        </span>
      </li>
      <li class="list-group-item flex-container">
        <b class="flex-item">Date of Birth</b>
        <span class="flex-item float-right">
          {{ userDetail?.emp_dob }}
        </span>
      </li>
      <li class="list-group-item flex-container">
        <b class="flex-item">Date of Joining</b>
        <span class="flex-item float-right">
          {{ userDetail?.emp_joindate }}
        </span>
      </li>
      <li
        class="list-group-item flex-container"
        *ngIf="userDetail?.emp_leftdate"
      >
        <b class="flex-item">Left Date</b>
        <span class="flex-item float-right">
          {{ userDetail?.emp_leftdate }}
        </span>
      </li>
    </ul>
  </div>
</div>
