<ng-template #confirmationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ modalTitle }}
    </h5>
    <button
      type="button"
      class="close"
      aria-describedby="modal-title"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div #modalBody class="modal-body" overlay-scrollbars>
    <ng-container
      *ngComponentOutlet="component; injector: myInjector"
    ></ng-container>
  </div>
  <div class="modal-footer" *ngIf="config.footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onOkButtonClick()">
      {{ okButtonLable }}
    </button>
  </div>
</ng-template>
