::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
.modal-header {
  background-color: #337ab6;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 80vh;
  overflow-y: auto;
}