<a
  class="nav-link"
  data-toggle="dropdown"
  (click)="itemClick()"
  [routerLink]="null"
>
  <i class="fas fa-key"></i>
</a>
<div
  class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-padding-right"
  [class.show]="isActive"
>
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <h5 class="card-title">Change Password</h5>
    </div>
    <div class="card-body">
      <form
        class="row"
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-md-12 mb-1">
          <input
            type="password"
            formControlName="currentPassword"
            name="current"
            class="form-control"
            placeholder="Current Password"
            autocomplete="on"
          />
          <label
            *ngIf="
              CurrentPassword.touched &&
              CurrentPassword.invalid &&
              CurrentPassword.errors.required
            "
          >
            Current Password is required.
          </label>
        </div>
        <div class="col-md-12 mb-1">
          <input
            type="password"
            formControlName="newPassword"
            name="password"
            class="form-control"
            placeholder="Password"
            autocomplete="on"
          />
          <label
            *ngIf="
              NewPassword.touched &&
              NewPassword.invalid &&
              NewPassword.errors.required
            "
          >
            New Password is required.
          </label>
          <label
            *ngIf="
              NewPassword.valid &&
              changePasswordForm.invalid &&
              changePasswordForm.errors?.oldNewSame
            "
          >
            Current & New Password should not be same
          </label>
        </div>
        <div class="col-md-12 mb-1">
          <input
            type="password"
            formControlName="confirmPassword"
            name="confirmpassword"
            class="form-control"
            placeholder="Confirm Password"
            autocomplete="on"
          />
          <label
            *ngIf="
              ConfirmPassword.touched &&
              ConfirmPassword.invalid &&
              ConfirmPassword.errors.required
            "
          >
            Confirm Password is required.
          </label>
          <label
            *ngIf="
              ConfirmPassword.valid &&
              changePasswordForm.invalid &&
              changePasswordForm.errors?.notSame
            "
          >
            Password do not match.
          </label>
        </div>
        <div class="col-md-12 mb-1">
          <button type="submit" class="btn btn-primary btn-block">
            Change password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
