<a
  [href]="menuItem.path[0]"
  class="nav-link">
  <i class="nav-icon {{ menuItem.iconClasses }}"></i>
  <p>
    {{ menuItem.name }}
    <i
      *ngIf="isExpandable && menuItem.children.length > 0"
      class="right fas fa-angle-right"
    ></i>
  </p>
</a>
<ul
  class="nav nav-treeview"
  *ngFor="let item of menuItem.children"
>
  <li class="nav-item">
    <a [href]="item.path[0]" class="nav-link">
      <i class="nav-icon {{ item.iconClasses }}"></i>
      <p>{{ item.name }}</p>
    </a>
  </li>
</ul>
