.dual-listbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .listbox {
  
    .listbox-header {
        padding: 10px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 200px; // Adjust as needed
        overflow-y: auto;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
  
        li {
          padding: 8px;
        //   border-bottom: 1px solid #ced4da;
          cursor: pointer;
          &:last-child {
            border-bottom: none;
          }
          &:hover, &.selected {
            background-color: #007bff;
            color: white;
          }
        }
      }
    }
  
    .actions {
      display: grid;
      justify-content: center;
    }
  }
  