<a
  class="nav-link"
  data-toggle="dropdown"
  (click)="itemClick()"
  [routerLink]="null"
>
  <i class="fas fa-bell"></i>
  <span
    class="badge badge-warning navbar-badge"
    style="padding: 0px 0px !important; font-weight: bold"
    >{{ notification_count }}</span
  >
</a>
<div
  class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-padding-right"
  [class.show]="isActive"
>
  <span class="dropdown-item dropdown-header">
    {{ notification_header_message }}
  </span>
  <div
    *ngFor="
      let notification of notification_data | slice: 0:NotifiCount;
      let last = last
    "
  >
    <div class="dropdown-divider" *ngIf="!last"></div>
    <a class="dropdown-item text-truncate" (click)="openNotificationDashboard(notification)">
      <i class="fa fa-bullhorn mr-2"></i>
      {{ notification.notification_heading }}
      <span class="float-right text-muted text-sm">{{
        notification.time
      }}</span>
    </a>
  </div>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item dropdown-footer" (click)="openNotification()">See All Notifications</a>
</div>
<app-modal #myModal [config]="_popupItem"></app-modal>