<app-navbar [width]="width"></app-navbar>
<form
  #searchForm
  class="form-inline ml-3"
  [formGroup]="searchForm"
  *ngIf="false"
>
  <div class="input-group input-group-sm">
    <input
      class="form-control form-control-navbar"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <div class="input-group-append">
      <button class="btn btn-navbar" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>

<ul #userMenu class="navbar-nav ml-auto">
  <app-roles [roles]="roles"></app-roles>
  <app-units [units]="units"></app-units>
  <app-change-password [config]="loginConfig"></app-change-password>
  <app-notifications></app-notifications>
  <app-user></app-user>
</ul>
