<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">
      About {{ roleName === "SELF" ? "Me" : aboutMeDetail?.emp_altid }}
    </h3>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item flex-container"*ngIf="aboutMeDetail?.emp_department">
        <b class="flex-item">Department</b>
        <span class="flex-item float-right">
          {{ aboutMeDetail?.emp_department }}
        </span>
      </li>
      <li class="list-group-item flex-container"*ngIf="aboutMeDetail?.emp_location">
        <b class="flex-item">Location</b>
        <span class="flex-item float-right">
          {{ aboutMeDetail?.emp_location }}
        </span>
      </li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
